::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: #212529;
	-webkit-box-shadow: 0px 5px 10px red;
	box-shadow: 0px 5px 10px red;
}

::-webkit-scrollbar-thumb {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(red),
		to(#002fff)
	);
	background: linear-gradient(to bottom, red, #002fff);
	border-radius: 30px;
	box-shadow: 0px 0px 10px #ff0000, 0px 0px 20px #ff0000, 0px 0px 30px #ff0000;
	//border: 2px solid #15c1e5;
}

.hide {
	display: none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	// padding: 0;
	// list-style: none;
	// text-decoration: none;
	// border: none;
	// background: transparent;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
