body {
	height: 2000px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	padding: 0 10px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;

	ul {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 0;

		li {
			list-style: none;

			a {
				margin: 0 20px;
				text-decoration: none;
			}
		}
	}
}
.burger-menu {
	display: none;
}

@media (max-width: 768px) {
	nav {
		ul {
			display: none;
		}

		ul.show {
			display: flex;
			flex-direction: column;
			align-items: center;
			background: black;
			max-width: 200px;
			padding: 20px 70px;

			position: absolute;
			right: 0;
			top: 50px;
		}
	}
	.burger-menu {
		display: block;
		position: relative;

		cursor: pointer;

		span {
			display: block;
			background-color: #be50f4;
			height: 4px;
			width: 27px;
			margin-top: 5px;
			margin-bottom: 5px;
			transform: rotate(0deg);
			opacity: 1;

			&:nth-child(1),
			&:nth-child(3) {
				transition: transform 0.35s ease-in-out;
			}
		}

		span.open {
			position: relative;

			&:nth-child(1) {
				position: absolute;
				left: 0px;
				top: 10px;
				transform: rotate(135deg);
				opacity: 0.9;
			}
			&:nth-child(2) {
				height: 23px;
				visibility: hidden;
				background-color: transparent;
			}
			&:nth-child(3) {
				position: absolute;
				left: 0px;
				top: 10px;
				transform: rotate(-135deg);
				opacity: 0.9;
			}
		}
	}
}
